body {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  background: #eee;
  color: #666;
}
.navbar {
  margin-top: 4%;
}
.navbar-brand {
  color: #fff;
  font-size: 1.8em;
  font-size: 700;
  margin-left: 10%;
}
.nav {
  margin-right: 10%;
}
.nav li a {
  color: #aaa;
  font-size: 1.2em;
}
.info {
  margin-top: 15%;
  transform: translateY(-15%);
}
.info h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}
.info p {
  font-size: 2.5em;
  font-weight: 500;
  color: #aaa;
  letter-spacing: 2px;
}

.login-container {
  height: 100vh;
  width: 100%;
}

.login-form {
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}
