<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
    <body style="position: relative; z-index: 100;">
      <div class="container" style="position: relative; top:30px">
        <div class="row">
          <div class="col-md-12">
            <nav class="nav nav-pills nav-fill">
              <a class="nav-link" href="/auth/logout">HOME</a>
              <a class="nav-link active" href="/auth/login">LOGIN</a>
              <a class="nav-link" href="/movie">MOVIE</a>
              <a class="nav-link" href="/auth/logout">LOGOUT</a>
            </nav>
          </div>
          </div>
          <div
          class="login-container d-flex align-items-center justify-content-center"
        >
          <form id="register-form" class="login-form text-center">
            <h1 class="mb-5 font-weight-light text-uppercase">Add movie</h1>
            <div class="form-group">
              <input
                type="text" name="title"
                class="form-control rounded-pill form-control-lg"
                placeholder="title"
              />
            </div>
            <div class="form-group">
              <input
                type="text" name="description"
                class="form-control rounded-pill form-control-lg"
                placeholder="description"
              />
            </div>
            <div class="form-group">
              <input
                type="text" name="image url"
                class="form-control rounded-pill form-control-lg"
                placeholder="image url"
              />
            </div>
            <div class="form-group">
              <input
                type="text"name="price"
                class="form-control rounded-pill form-control-lg"
                placeholder="price"
              />
            </div>
            <div
              class="forgot-link d-flex align-items-center justify-content-between"
            >
              <button 
                type="submit"
                class="btn btn-primary btn-block runded-pill btn-lg"
              >
               <a href="">Add movie to your collection</a></button>
            </div>
          </form>
        </div>
  </body>
</html>
