<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Movies</title>
  </head>
  <body style="position: relative; z-index: 100;">
    <div class="container" style="position: relative; top:30px">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav nav-pills nav-fill">
            <a class="nav-link" href="/auth/logout">HOME</a>
            <a class="nav-link" href="/auth/login">LOGIN</a>
            <a class="nav-link active" href="/movie">MOVIE</a>
            <a class="nav-link" href="/auth/register">REGISTER</a>
          </nav>
        </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-mid-3 col-md col-sm-6">
              <div class="card">
                <div class="card-block">
                  <div class="card-title">
                    <h4>Movie 1</h4>
                  </div>
                 <a style="margin-top: 10px;" href="#" class="btn btn-success">click here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    
  </body>
</html>
